* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    background-color: #ce6a6b;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    opacity: .8;
}

body div:nth-child(2) {
    grid-column-start: span 2;
    justify-self: center;
}

body div:nth-child(3) {
    align-self: flex-start;
}

body div:nth-child(4) {
    align-self: flex-start;
    justify-self: end;
}

body div:nth-child(5) {
    grid-column-start: span 2;
    justify-self: center;
    align-self: flex-start;
}

.title,
.timer,
.score {
    font-size: 50px;
    color: #ebaca2;
}

.container {
    border: 3px solid #ebaca2;
    border-radius: 10px;
    width: 700px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    background-color: #ffdfcb;
}

@media (max-width: 630px) {
    .container {
        width: 400px;
        height: 600px;
    }
}

.quote {
    margin: 15px 15px 20px 20px;
    color: #212e53;
    font-size: 25px;

    align-self: flex-start;
    user-select: none;
}

.input-quote {
    margin: 12px 12px 8px 8px;
    color: #212e53;
    outline: none;
    resize: none;
    background-color: #ffdfcb;
    margin: auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 15rem;
    width: 100%;
    font-size: 25px;
    border-radius: 8px;
    padding: .5rem 1rem;
    transition: all .3s ease-in-out;
}

.input-quote:focus {
    box-shadow: 0px 0px 5px #ce6a6b, 0px 0px 15px #ce6a6b, 0px 0px 10px #ffdfcb,
        0px 0px 25px #ce6a6b;
}